<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="authTests">
            <directory>tests/Auth</directory>
        </testsuite>
        <testsuite name="trainingTests">
            <directory>tests/Training</directory>
        </testsuite>
    </testsuites>
</phpunit>