$background: #0d0d18;
$text: #eaeaf0;
$primary: #9597d8;
$secondary: #212388;
$accent: #353ae4;

body {
	background-color: $background;
	color: $text;
}
.custom-btn {
	background-color: $secondary;
	color: $text;
	&:hover {
		background-color: $accent;
	}
}

.auth {
	&__container {
		width: 500px;
		background-color: #9597d8;
	}
	&__label {
		color: $background;
	}
	li {
		list-style: none;
	}
}

.dashboard {
	@media (min-width: 992px) {
		margin-right: 250px;
	}
	&__navbar {
		border-bottom: 1px solid rgb(80, 80, 80);
		overflow: hidden;
	}
	&__menu-btn {
		border: 1px solid $text;
	}
	&__sidebar {
		position: fixed;
		top: 0;
		width: 250px;
		border-right: 1px solid rgb(80, 80, 80);
	}
	&__label {
		color: $primary;
	}
	&__nav {
		a {
			&:hover,
			&:focus {
				color: $text;
			}
			&:active {
				color: $text;
				border: 1px solid $text;
				border-radius: 8px;
			}
		}
	}
}
