body {
  background-color: #222222;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
}

.custom-btn {
  background-color: #424242;
  color: #ebebeb;
  border: 1px solid rgba(255, 131, 114, 0.2470588235);
  font-weight: 500;
}
.custom-btn:hover {
  background-color: #fa6c5a;
  color: #424242;
}

.custom-accent-btn {
  background-color: #fa6c5a;
  color: #222222;
  font-weight: 500;
}
.custom-accent-btn:hover {
  background-color: #424242;
  color: #ebebeb;
}

.auth__container {
  width: 550px;
  background-color: #e4e4e4;
}
.auth__label {
  color: #222222;
}
.auth li {
  list-style: none;
}

.nav__navbar {
  border-bottom: 1px solid #fa6c5a;
  overflow: hidden;
}
.nav__menu-btn {
  border: 1px solid #ebebeb;
}
.nav__sidebar {
  position: fixed;
  top: 0;
  width: 250px;
  background-color: #222222;
  border-right: 1px solid #fa6c5a;
  z-index: 1;
}
.nav__label {
  color: #fa6c5a;
}
.nav__nav a:focus {
  color: #ebebeb;
}
.nav__nav a:active {
  color: #ebebeb;
  border-radius: 8px;
}

.dashboard__container {
  height: 100%;
  background-color: #222222;
  color: #ebebeb;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 131, 114, 0.2470588235);
  transition: 0.2s;
}
.dashboard__container div {
  color: #e4e4e4;
}
.dashboard__container:hover {
  box-shadow: 0 8px 20px 10px rgba(255, 255, 255, 0.05);
  transform: scale(1.01);
}
.dashboard__container .card-header {
  background-color: transparent;
  border-bottom: 1px solid #424242;
}
.dashboard__last-training-date {
  color: #fa6c5a !important;
}

.trainings__create-workout-btn {
  transform: rotate(-30deg);
}
@media (max-width: 568px) {
  .trainings__add-training-btn {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .trainings__save-training-container {
    display: block;
  }
  .trainings__save-training-container button {
    width: 100%;
  }
}
.trainings__alert {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  transform: translate(-50%, -50%);
}
.trainings__training-container {
  padding: 1rem;
  background-color: #222222;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 131, 114, 0.2470588235);
  transition: 0.2s;
}
.trainings__training-container:hover {
  box-shadow: 0 8px 20px 10px rgba(255, 255, 255, 0.05);
  transform: translateY(-5px);
}
.trainings__training-container .card-header {
  background-color: transparent;
}
.trainings .card-title {
  color: #cccccc;
}
.trainings__empty-training-list {
  color: #fa6c5a;
}
.trainings__dropdown-menu-btn {
  color: #ebebeb;
}
.trainings__dropdown-menu-btn:hover {
  background-color: #fa6c5a;
}
.trainings__dropdown-menu {
  background-color: #cccccc;
}
.trainings__dropdown-menu .dropdown-item {
  border: 1px solid #fa6c5a;
}
.trainings__main-container {
  padding-top: 5rem;
}

.training__main-container {
  padding-top: 5rem;
}
.training__training-container {
  background-color: #e4e4e4;
  color: #424242;
  border: 1px solid #fa6c5a;
}
.training__details {
  color: #fa6c5a;
}
.training .note-container {
  background-color: #cccccc;
  border: 1px solid rgba(255, 131, 114, 0.2470588235);
  font-style: italic;
}
.training .noteExerciseFormModalBtn {
  color: #fa6c5a;
  cursor: pointer;
}
.training__dropdown-menu-btn {
  background-color: #cccccc;
}
.training__dropdown-menu-btn:hover {
  border: 1px solid #fa6c5a;
}
.training__dropdown-menu {
  background-color: #cccccc;
}
.training__dropdown-menu .dropdown-item {
  border: 1px solid #fa6c5a;
}
.training .dropdown-set-menu-btn {
  background-color: #e4e4e4;
  border: 1px solid #fa6c5a;
}
.training .dropdown-set-menu-btn:hover {
  border: 1px solid #cccccc;
}
.training .table {
  overflow: hidden;
}
.training__th {
  position: relative;
  color: #fa6c5a;
}
.training__tool-tip-btn {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.25;
}

.history__main-container:first-of-type {
  padding-top: 2rem;
}
.history__main-container:last-of-type {
  margin: 0;
  padding-bottom: 1rem;
}
.history__training-container {
  background-color: #e4e4e4;
  color: #424242;
  border: 1px solid #fa6c5a;
}
.history__details {
  color: #fa6c5a;
}
.history__training-date {
  color: #fa6c5a;
}
.history__note-container {
  background-color: #cccccc;
  border: 1px solid rgba(255, 131, 114, 0.2470588235);
  font-style: italic;
}
.history__note-field {
  color: #fa6c5a;
}
.history__empty-training-history {
  padding-top: 4rem;
}
.history__empty-training-list {
  padding-top: 4rem;
  color: #fa6c5a;
}
.history .table {
  overflow: hidden;
}

.statistics__search-exercise-select {
  height: 38px !important;
  min-height: 38px !important;
}

.profile__card {
  height: 100%;
  background-color: #222222;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 131, 114, 0.2470588235);
  transition: 0.2s;
}
.profile__card:hover {
  box-shadow: 0 8px 20px 10px rgba(255, 255, 255, 0.05);
  transform: scale(1.01);
}
.profile__card-label {
  color: #cccccc;
}
.profile__card-text-name {
  color: #ebebeb;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
