$background: #222222;
$text: rgb(235, 235, 235);
$primary: #cccccc;
$secondary: #424242;
$third: #f5f1f0;
$accent: #fc7260;

body {
	background-color: $background;
	color: $text;
}

.custom-btn {
	background-color: $secondary;
	color: $text;
	font-weight: 500;
	&:hover {
		background-color: $accent;
		color: $secondary;
	}
}

.custom-accent-btn {
	background-color: $accent;
	color: $background;
	font-weight: 500;
	&:hover {
		background-color: $secondary;
		color: $text;
	}
}

.auth {
	&__container {
		width: 500px;
		background-color: $third;
	}
	&__label {
		color: $background;
	}
	li {
		list-style: none;
	}
}

.nav {
	&__navbar {
		border-bottom: 1px solid $accent;
		overflow: hidden;
	}
	&__menu-btn {
		border: 1px solid $text;
	}
	&__sidebar {
		position: fixed;
		top: 0;
		width: 250px;
		background-color: $background;
		border-right: 1px solid $accent;
		z-index: 1;
	}
	&__label {
		color: $accent;
	}
	&__nav {
		a {
			&:focus {
				color: $text;
			}
			&:active {
				color: $text;
				border: 1px solid $text;
				border-radius: 8px;
			}
		}
	}
}

.dashboard {
	&__container {
		background-color: $third;
	}
}

.trainings {
	&__create-workout-btn {
		transform: rotate(-30deg);
	}
	&__training-container {
		background-color: $third;
	}
}

.training {
	&__training-container {
		background-color: $third;
		color: $secondary;
	}
	&__th {
		position: relative;
	}
	&__tool-tip-btn {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.25;
	}
}
