$background: #222222;
$text: #ebebeb;
$primary: #cccccc;
$secondary: #424242;
$third: #f5f1f0;
$accent: #fa6c5a;
$accent-two: #ff4f18;

body {
	background-color: $background;
	color: $text;
}

.custom-btn {
	background-color: $secondary;
	color: $text;
	font-weight: 500;
	&:hover {
		background-color: $accent;
		color: $secondary;
	}
}

.custom-accent-btn {
	background-color: $accent;
	color: $background;
	font-weight: 500;
	&:hover {
		background-color: $secondary;
		color: $text;
	}
}

.auth {
	&__container {
		width: 500px;
		background-color: $third;
	}
	&__label {
		color: $background;
	}
	li {
		list-style: none;
	}
}

.nav {
	&__navbar {
		border-bottom: 1px solid $accent;
		overflow: hidden;
	}
	&__menu-btn {
		border: 1px solid $text;
	}
	&__sidebar {
		position: fixed;
		top: 0;
		width: 250px;
		background-color: $background;
		border-right: 1px solid $accent;
		z-index: 1;
	}
	&__label {
		color: $accent;
	}
	&__nav {
		a {
			&:focus {
				color: $text;
			}
			&:active {
				color: $text;
				border-radius: 8px;
			}
		}
	}
}

.dashboard {
	&__container {
		background-color: $third;
	}
	&__last-training-date {
		color: $accent;
	}
}

.trainings {
	&__create-workout-btn {
		transform: rotate(-30deg);
	}
	&__add-training-btn {
		@media (max-width: 568px) {
			width: 100%;
		}
	}
	&__save-training-container {
		@media (max-width: 568px) {
			display: block;
			button {
				width: 100%;
			}
		}
	}
	&__alert {
		position: absolute;
		top: 20%;
		left: 50%;
		width: 100%;
		max-width: 500px;
		transform: translate(-50%, -50%);
	}
	&__training-container {
		padding: 1rem;
		background-color: $background;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
		transition: 0.3s;
		&:hover {
			box-shadow: 0 8px 20px rgba(102, 102, 102, 0.5);
			transform: translateY(-5px);
		}
		.card-header {
			background-color: transparent;
			border-bottom: 1px solid $secondary;
		}
	}
	.card-title {
		color: $primary;
	}
	&__empty-training-list {
		color: $accent;
	}
	&__dropdown-menu-btn {
		color: $text;
		&:hover {
			background-color: $accent;
		}
	}
	&__dropdown-menu {
		background-color: $primary;
		.dropdown-item {
			border: 1px solid $accent;
		}
	}
	&__main-container {
		padding-top: 5rem;
	}
}

.training {
	&__main-container {
		padding-top: 5rem;
	}
	&__training-container {
		background-color: $third;
		color: $secondary;
	}
	.noteExerciseFormModalBtn {
		color: $accent;
		cursor: pointer;
	}
	&__exercise-extra-note {
		background-color: $primary;
	}
	&__dropdown-menu-btn {
		background-color: $primary;
		&:hover {
			border: 1px solid $accent;
		}
	}
	&__dropdown-menu {
		background-color: $primary;
		.dropdown-item {
			border: 1px solid $accent;
		}
	}
	.dropdown-set-menu-btn {
		background-color: $third;
		border: 1px solid $accent;
		&:hover {
			border: 1px solid $primary;
		}
	}
	&__th {
		position: relative;
	}
	&__tool-tip-btn {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.25;
	}
}

.history {
	&__main-container {
		&:first-of-type {
			padding-top: 4rem;
		}
		&:last-of-type {
			padding-bottom: 4rem;
		}
	}
	&__training-container {
		background-color: $third;
		color: $secondary;
	}
	&__training-date {
		color: $accent;
	}
	&__note-field {
		color: $accent;
	}
	&__empty-training-history {
		padding-top: 4rem;
	}
	&__empty-training-list {
		padding-top: 4rem;
		color: $accent;
	}
}

.statistics {
	&__search-exercise-select {
		height: 38px !important;
		min-height: 38px !important;
	}
}

.profile {
	&__card {
		background-color: $background;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
	}
	&__card-label {
		color: $primary;
	}
	&__card-text-name {
		color: $text;
		font-weight: bold;
	}
}
